<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd

    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<description>Spring公共配置 </description>
	<!-- freeMarker引用 -->
	<import resource="classpath*:/spring/applicationContext-freeMarker.xml" />
	
	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.jeedev,com.tansun">
		 <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<!-- 开启AOP监听 只对当前配置文件有效 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>
    
	<import resource="classpath*:/spring/applicationContext-shiro.xml" />
	<!-- 因为没有引入applicationContext-shiro,暂时加载这段 -->
<!-- 	<context:property-placeholder ignore-unresolvable="true" location="classpath*:config/auth-client.properties"/> -->
	<import resource="classpath*:/spring/applicationContext-dubbo.xml" />
	<import resource="classpath*:/spring/applicationContext-captcha.xml"/>

	<import resource="classpath*:/spring/applicationContext-param.xml"/>
		
		
	<bean id="constantJsAddonDefaultImpl" class="com.jeedev.msdp.core.web.addon.impl.DefaultConstantjsAddonSpiImpl"></bean>
 	<bean id="constantJsAddon" class="com.jeedev.msdp.core.web.addon.ConstantJsAddon" init-method="writeConstant" depends-on="constantJsAddonDefaultImpl" />
 	<bean id="dictWebUtil" class="com.jeedev.msdp.web.utils.DictWebUtil" init-method="initDictInfo"  />
 <!-- 翻译插件插件-->
	<import resource="classpath*:/spring/applicationContext-translater.xml"/>
 <!-- api缓存插件-->
	<import resource="classpath*:/spring/applicationContext-apicache.xml"/>
	
	
		<!-- freemarker支持开始   放在动态逻辑构件包下，模板路径会读不到-->
<!-- 	<bean id="freeMarkerConfigurer" -->
<!-- 		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer"> -->
<!-- 		<property name="templateLoaderPath" value="/WEB-INF/template/" /> -->
<!-- 		<property name="freemarkerSettings"> -->
<!-- 			<props> -->
<!-- 				<prop key="tag_syntax">auto_detect</prop> -->
<!-- 				<prop key="template_update_delay">0</prop> -->
<!-- 				<prop key="default_encoding">UTF-8</prop> -->
<!-- 				<prop key="url_escaping_charset">UTF-8</prop> -->
<!-- 				<prop key="locale">zh_CN</prop> -->
<!-- 				<prop key="boolean_format">true,false</prop> -->
<!-- 				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop> -->
<!-- 				<prop key="date_format">yyyy-MM-dd</prop> -->
<!-- 				<prop key="time_format">HH:mm:ss</prop> -->
<!-- 				<prop key="number_format">0.######</prop> -->
<!-- 				<prop key="whitespace_stripping">true</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
 </beans>